<div class="container">
    <div class="row">
        <div class="col-12">
            <form action="/result" method="get">
                <div class="form-group">
                    <label for="pageName">Name</label>
                    <input type="text" class="form-control" name="pageName" id="pageName" placeholder="PageName">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

            <table cellpadding="3">
                <tr>
                    <td valign="top" colspan="2">
                        <font face="Tahoma">
                            <h2>Shopping Bag:<br>
                                {{#each categories}}
                                    {{this.name}}<br>
                                {{/each}}
                                {{#each products}}
                                    <I>
                                        <B>Name: </B>{{this.name}}<br>
                                        <B>Description</B>: {{this.description}}<br>
                                        <B>Price</B>: {{this.price}}<br>
                                    </I>
                                {{/each}}
                            </h2>
                        </font>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>