<div class="container">
    <div class="row">
        <div class="col-12">
            <form action="/result" method="get">
                <div class="form-group">
                    <label for="pageName">Name</label>
                    <input type="text" class="form-control" name="pageName" id="pageName" placeholder="PageName">
                    <input type="hidden" class="form-control" name="page" value="1">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
<table>
    <tr>
        <th>To search...</th>
        <th>Enter...</th>
        <th>For example...</th>
    </tr>
    <tr><td>Any terms</td><td>words with spaces</td><td>JavaScript application</td></tr>
    <tr><td>All terms</td><td>+[words with spaces]</td><td>+JavaScript application</td></tr>
    <tr><td>By URL</td><td>url:[urlportions with spaces]</td><td>url: html</td><</tr>
</table>