<div class="container">
    <div class="row">
        <div class="col-12">
            {{#each users}}
                <div class="alert alert-success" role="alert">
                    <strong>ID:{{this.id}}</strong> - Name: {{this.name}}
                </div>
            {{/each}}
        </div>
    </div>
</div>