<div class="container">
    <div class="row">
        <div class="col-12">
            {{#each urls}}
                <div class="alert alert-success" role="alert">
                    <strong>ID:{{this.id}}</strong> - Description: {{this.pageDescription}}  - URL: {{this.url}}
                </div>
            {{/each}}
        </div>
    </div>
</div>