<table width="90%" border="0" align="center">
    <tr>
        <td valign="top">
            <font face="arial"><b>
                    <hr noshade width="100%">
                    Returned no results
                    <hr noshade="" width="100%>
        </td>
        </tr>
 </table>